/*--------------------- Responsive (Start) ---------------------*/
@media (max-width: 991px){

    html{
        font-size: 75%;
    } 

    .header .navbar{    
        display: none;
    } 

    .header #menu-btn{  
        display: initial; 
    }

    .header .icon-container .btn{
        display: none;
    }

    .mobile-menu { 
        display: block;
        position: absolute;
        top: 100%;
        right: 0;
        left: 0;
        z-index: 10000;
        max-height: 80vh;
        overflow-y: auto; 
        background: var(--black);
        -webkit-transition: all 0.5s ease-in-out;
        -moz-transition: all 0.5s ease-in-out;
        -o-transition: all 0.5s ease-in-out;
        transition: all 0.5s ease-in-out;
        -webkit-box-shadow: var(--box-shadow);
                box-shadow: var(--box-shadow);
        border-bottom: 0.2rem solid var(--main-color);
        padding: 2rem 4rem;
        -webkit-clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
                clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
    } 
    
    .mobile-menu.active {
        -webkit-clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
                clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
    }

    .mobile-navbar{
        display: -webkit-box; 
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
        gap: 1rem;
    }

    .mobile-navbar .nav-link{
        overflow: hidden;
    }

    .mobile-navbar .main-nav-link,
    .mobile-navbar .sub-nav-link a{
        display: inline-block;
        color: var(--white);
        font-size: 2rem;
        font-weight: bold;
        cursor: pointer; 
        width: 100%;
        padding: 1.5rem;
        border-bottom: 0.1rem solid rgba(255, 255, 255, 0.2);
    }

    .mobile-navbar .main-nav-link{
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: justify;
        -ms-flex-pack: justify; 
        justify-content: space-between; 
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
    }

    .mobile-navbar .main-nav-link a{
        color: var(--white);
    }
    
    .mobile-navbar .sub-nav-link {
        padding: 1rem 0;
        padding-left: 4rem;
        display: none;
        -webkit-transition: all 0s;
        -moz-transition: all 0s;
        -o-transition: all 0s;
        transition: all 0s;
    }
    
    .mobile-navbar .sub-nav-link a:hover{
        color: var(--main-color);
    }
    
    .mobile-menu::-webkit-scrollbar{
        width: 0.8rem; 
    }
    
    .mobile-menu::-webkit-scrollbar-thumb{
        border-radius: 1rem;
        background-color: var(--main-color);
    }
    
    .mobile-menu::-webkit-scrollbar-track{
        background: transparent;
    }

    .blog.grid, .blog.list{
        -ms-flex-wrap: wrap-reverse;
            flex-wrap: wrap-reverse;
    }

    .shop{
        -ms-flex-wrap: wrap-reverse;
            flex-wrap: wrap-reverse;
    }

    .features .box-container{
        -ms-grid-columns: (minmax(28rem, 1fr))[auto-fit];
        grid-template-columns: repeat(auto-fit, minmax(28rem, 1fr));
    }

    .team .box-container{
        -ms-grid-columns: (minmax(28rem, 1fr))[auto-fit];
            grid-template-columns: repeat(auto-fit, minmax(28rem, 1fr));
    }

    .team-item {
        height: 45rem;
    }

    .shop,
    .blog.grid,
    .blog.list{
        gap: 3rem;
    }

    .header .header-1{
        -webkit-box-pack: end;
            -ms-flex-pack: end;
                justify-content: flex-end;
    }

    .header .header-contacts{
        display: none;
    }

    .support .image{
        height: 40rem;
    }

    .case-item{
        width: 50%;
    }

}

@media (max-width: 768px){

    html{
        font-size: 65%;
    }

    section{
        padding: 3rem 2rem;
    }

    .mobile-menu {
        padding: 2rem;
    }

    .header .header-1{
        padding: 0.5rem 2rem;
    }

    .header .header-2{
        padding: 0rem 2rem;
    }

    .footer .box-container{
        padding: 2rem;
    }

    .search-container{
        right: 1rem;
    }

    .home-item{
        height: 75rem;
    }

    .home .content{ 
        padding: 10rem 2rem;
    }

    .gallery .box-container{
        -ms-grid-columns: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
        gap: 1.5rem;
        grid-template-areas: 
        'gallery-2 gallery-2'
        'gallery-1 gallery-3'
        'gallery-1 gallery-4'
        'gallery-5 gallery-5'
        'gallery-7 gallery-6'
        'gallery-8 gallery-6';
    }

}

@media (max-width: 450px){
    
    html{
      font-size: 50%;
    }

    section{
        padding: 3rem 1rem;
    }

    .mobile-menu {
        padding: 1rem;
    }

    .contact .box-container{
        padding: 3rem 1rem;
    }

    .header .header-1{
        padding: 0.5rem 1rem;
    }

    .header .header-2{
        padding: 0rem 1rem;
    }

    .footer .box-container{
        padding: 2rem 1rem;
    }

    .footer-item > p{
        font-size: 1.8rem;
    }

    .footer-item .info a{
        font-size: 2rem;
    }

    .home-item{
        height: 100vh;
    }

    .comment .comment-content{
        -webkit-box-flex: 1;
        -ms-flex: 1 1 25rem;
            flex: 1 1 25rem;
    }

    .comment.reply .comment-content{
        -webkit-box-flex: 1;
        -ms-flex: 1 1 15rem;
            flex: 1 1 15rem;
    }

    .form .input-box,
    .dark-form .input-box{
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
    }

    .dark-form .input-box .input-field,
    .dark-form .select{
        -webkit-box-flex: 1;
            -ms-flex: 1 1 25rem;
                flex: 1 1 25rem;
    }

    .team-single .image{
        width: 100%;
    }

    .gallery-item{
        height: 40rem !important;
    }

    .gallery .box-container{
        -ms-grid-columns: 1fr;
            grid-template-columns: 1fr;
        grid-template-areas: 
        'gallery-1'
        'gallery-2'
        'gallery-3'
        'gallery-4'
        'gallery-5'
        'gallery-6'
        'gallery-7'
        'gallery-8';
    }

    .account-form{
        max-width: 100%;
    }

    .case-item{
        width: 100%;
    }

    .shop .product-container.list .product-item {
        gap: 0rem;
    }

    .shop .product-container.list .product-item .image {
        width: 30rem;
    }

    .shop .product-container.list .product-item .content {
        padding: 1rem;
        width: 100%;
    }

    .shop .product-container.list .product-item .content p {
        line-height: 1.5;
    }

    .product-info .leave-reply{
        width: 100%;
    }

    .cart .cart-summary{
        width: 100%; 
    }

    .custom-form .content{
        padding: 4rem 5%;
        -webkit-clip-path: none;
                clip-path: none;
    }

}

/*--------------------- Responsive (End) ---------------------*/